<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proyecto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="CENTRO">
        <h1>Biblioteca Digital LecturaGlobal</h1>
    </div>

    <nav class="CENTRO">
        <ul class="menu">

            <li class="dropdown">
                <a href="#">Usuarios</a>

                <ul class="submenu">
                    <li><a href="{{ url_for('usuarios') }}">Gestor de usuarios</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#">Libros</a>

                <ul class="submenu">
                    <li><a href="{{ url_for('libros') }}">Gestor de libros</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#">Prestamos</a>

                <ul class="submenu">
                    <li><a href="{{ url_for('prestamos') }}">Gestor de prestamos</a></li>
                </ul>
            </li>

        </ul>
    </nav>
    <br>
    <br>

    <div class="Grafica_datos" >
        
        <div class="usua_sistema" >
            <h2>Usuarios en el sistema: <span id="contador_usuarios">0</span></h2>
        </div>
        <br>
        <div class="usua_sistema" >
            <h2>Libros en el sistema: <span id="contador_libros">0</span></h2>
        </div>
        <br>
        <div class="usua_sistema" >
            <h2>Prestamos en el sistema:<span id="contador_prestamos">0</span> </h2>
        </div>
    </div>

    <script src="{{ url_for('static', filename='index_script.js') }}"></script>
</body>
</html>